.posts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    list-style: none;
    padding: 0;

    &__item {
        display: flex;
        aspect-ratio: 1/1;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #fff;
    }
}